<li class="row album">
    <img {{bind-attr src="coverUrl"}} alt="Album cover" class="col-xs-2 cover img-responsive img-thumbnail"/>

    <div class="col-xs-10">
        <h4>{{title}}</h4>
        <dl class="album-desc dl-horizontal">
            <dt>{{t album.volume}}</dt><dd>{{number}}</dd>
            <dt>{{t album.date}}</dt><dd>{{format "MMMM YYYY" publicationDate}}</dd>
        </dl>
    </div>
</li>