<div class="col-xs-12 col-md-3">
    <h2>{{t series.title}}</h2>

    {{input type=text value=filter class="filter form-control"}}
    <button {{action "sort"}} class="sort btn btn-icon btn-default">
        <i {{bind-attr class=":fa sortAscending:fa-caret-down:fa-caret-up"}}></i>
    </button>

    <ul class="series-listing">
        {{#each series in filteredContent}}
            <li class="series-item">
                {{#link-to 'seriesItem' series title=series.title}}
                    {{series.title}}
                {{/link-to}}
            </li>
        {{/each}}
        <li class="series-item">
            {{#link-to 'series.create' title="add series" class="add"}}
                <i class="fa fa-2x fa-plus-square"></i>
            {{/link-to}}
        </li>
    </ul>

    <span>{{t series.number}} {{filteredContent.length}}</span>
</div>

{{outlet}}